#features img
{
    margin-top:30px;
    margin-bottom:20px;
    width:400px;
    height:200px;
    border-radius: 50%;
    box-shadow: 0 0 15px 13px rgba(0,0,0,0.8);
}
#features h3
{
    margin-top:30px;
    margin-bottom:20px;
    color:#300;
  
}
#features p
{
    margin-top:30px;
    margin-bottom:20px;
    color:#600;
  
}